.header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid darkmagenta;
    margin-bottom: 10px;
}

a {
    color: darkturquoise;
    margin: 0 10px;
    text-decoration: none;
}

a.active {
    padding-bottom: 5px;
    border-bottom: 2px solid violet;
}
