<p>music works!</p>


<div>
    <h2>Albums</h2>
    <ul>
        <li>
            <a routerLink="/music/album/1">Album 1</a>
        </li>
        <li>
            <a routerLink="/music/album/2">Album 2</a>
        </li>
        <li>
            <a routerLink="/music/album/3">Album 3</a>
        </li>
    </ul>
</div>

<div>
    <h2>Singles</h2>
    <ul>
        <li>
            <a routerLink="/music/single/1">Single 1</a>
        </li>
        <li>
            <a routerLink="/music/single/2">Single 2</a>
        </li>
        <li>
            <a routerLink="/music/single/3">Single 3</a>
        </li>
    </ul>


</div>

<div>
    <h2>Playlists</h2>
    <ul>
        <li>
            <a routerLink="/music/playlist/1">Playlist 1</a>
        </li>
        <li>
            <a routerLink="/music/playlist/2">Playlist 2</a>
        </li>
        <li>
            <a routerLink="/music/playlist/3">Playlist 3</a>
        </li>
    </ul>
</div>

<div>
    <h2>Music Videos</h2>
    <ul>
        <li>
            <a routerLink="/music/video/1">Video 1</a>
        </li>
        <li>
            <a routerLink="/music/video/2">Video 2</a>
        </li>
        <li>
            <a routerLink="/music/video/3">Video 3</a>
        </li>
    </ul>
</div>

<div>
    <h2>Concerts</h2>
    <ul>
        <li>
            <a routerLink="/music/concert/1">Concert 1</a>
        </li>
        <li>
            <a routerLink="/music/concert/2">Concert 2</a>
        </li>
        <li>
            <a routerLink="/music/concert/3">Concert 3</a>
        </li>
    </ul>
</div>